


@media only screen and (min-width: 769px) {
    
    
     #info{
            width: 35%;
       
            height: 5vh;
            font-size: 2rem;
            margin-top: 2%;
        }
#info p{
    margin-top:1.9%;
}
    
}

  
  




