

@media only screen and (min-width: 1260px) {
    
    @supports (background-attachment: fixed) {
    /* fix bug on IE11 and below */
    .cd-fixed-bg {
      background-attachment: fixed;
    }
    }
     .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.6);
}
    .text-main h1{
    font-weight: 350;
        font-size: 2.2rem;
}

.text-main p{
    font-size: 1.5rem;
    font-weight: 300;
}
    .card-body h5{
        font-size: 1.8rem;
    }
    .card-body p{
        font-size: 1.3rem;
    }
    .single-item img{
         height: 50vh;
      }
}







@media only screen and (min-width: 1026px) {
    
    
    
    ::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width: 0.4%;
height:0px;
    
}

::-webkit-scrollbar-track {
background-color:#ecedee;
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 5px;

background-color:#007bff;
    
    
}

::-webkit-scrollbar-thumb:hover{
background-color:#0258b4;

}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width: 0.4%;
height:0px;
    
}

::-webkit-scrollbar{
width: 0.4%;

    
}
   

}







  
  






